<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
        <title wicket:id="Homepage"></title>
		<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 vh-100 p-2" id="sidebar">
				<ul class="nav flex-column">
					<li class="nav-item">Royals of Britain</li>
					<li class="nav-item">
						<a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Select a House</a>
						<div class="collapse" id="submenu1" aria-expanded="false">
							<ul class="flex-column pl-2 nav" wicket:id="housesDropdown">
								<li class="nav-item"><a class="nav-link py-0" href="#">Oliveira</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

			<!--In our Git tabTitles, we want a tab for each web page to have the title of the web page.-->

			<div class="col-sm-9 position-relative d-flex align-items-end flex-column p-2">
				<main role="main">
					<div id="intro" class="row">
						<p>Welcome to the beginning of our genealogical journey!</p>
					</div>
				</main>
				<footer class="footer-copyright mt-auto container text-center" id="footer" wicket:id="footerPanel"><p>&copy 2019 Franklin Oliveira</p></footer>
			</div>
		</div>
	</div>
	</body>
</html>
