<!DOCTYPE html>
<!-- TODO: Update the homepage -->
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Apache Wicket Quickstart</title>
		<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
	<p>In the Dark Ages, the Kingdoms of England and Scotland emerged, with bloodlines of kings forming the first royal houses. The later royal houses would trace their ancestry to these initial royal houses. And when the King of Scotland inherited the Crown of England, he also inherited the Crown of Ireland.</p>
	<p>Go to the next page to see how the flags of England, Ireland and Scotland were merged into the Union Jack or, if you want to learn more about each royal house, click the dropdown menu from “Royals of Britain” on the sidebar.</p>
	<footer class="footer-copyright mt-auto container text-center" id="footer" wicket:id="footerPanel"><p>&copy 2019 Franklin Oliveira</p></footer>
	</body>
</html>
