<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title wicket:id="houseName">Oliveira</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        /* Move down content because we have a fixed navbar that is 3.5rem tall */
        body {
          padding-top: 5rem;
        }
        a:link {
	        color: var(--primary);
        }
        a:hover, a:active {
	        color: var(--info);
        }
        a:visited {
	        color: var(--secondary);
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Royals of Britain</a>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a House</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" wicket:id="housesDropdown">
                    <a class="dropdown-item" href="/houses/bruce">Bruce</a>
                    <a class="dropdown-item" href="/houses/windsor">Windsor</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div id="intro" class="container" wicket:id="introPanel">
        <!-- TODO: Fill out intro panels for each house with all the history -->
        <h1>House Oliveira</h1>
        <p> King Franklin III was born in the County of Sacramento.</p>
    </div>
    <!-- TODO: Create a panel for the kings table -->
    <!-- TODO: Fill in rows in kings table panel with content from the database -->
    <div id="table" class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Year of Birth</th>
                    <th scope="col">Year of Death</th>
                </tr>
            </thead>
            <tbody>

            <tr wicket:id="kingsTableRows">
                <td>Franklin III</td>
                <td>1984</td>
                <td>?</td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
<footer class="clearfix container"  wicket:id="footerPanel">
    <p>&copy 2019 Franklin Oliveira</p>
</footer>
</body>
</html>