<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title wicket:id="houseName">Oliveira</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .nav-link[data-toggle].collapsed:before {
        content: " ▾";
    }

    .nav-link[data-toggle]:not(.collapsed):before {
        content: " ▴";
    }
   </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-3 vh-100 p-2" id="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">Royals of Britain</li>
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Select a House</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav" wicket:id="housesDropdown">
                            <li class="nav-item"><a class="nav-link py-0" href="#">Oliveira</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 position-relative d-flex align-items-end flex-column p-2">
            <main role="main">
                <div id="intro" class="row"  wicket:id="introPanel">
                    <p>King Franklin III was born in the County of Sacramento.</p>
                </div>
                <div id="table" class="row" wicket:id="kingsTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Year of Birth</th>
                            <th scope="col">Year of Death</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>Franklin III</td>
                            <td>1984</td>
                            <td>?</td>
                        </tr>

                        </tbody>
                    </table>

                </div>

            </main>
            <footer class="footer-copyright mt-auto container text-center" id="footer" wicket:id="footerPanel"><p>&copy 2019 Franklin Oliveira</p></footer>
        </div>
    </div>
</div>
</body>
</html>
