<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title wicket:id="houseName">Oliveira</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .nav-link[data-toggle].collapsed:before {
        content: " ▾";
    }

    .nav-link[data-toggle]:not(.collapsed):before {
        content: " ▴";
    }

    main{
         margin: 0 50px 75px 175px;
         padding: 25px 0 0 0;
    }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="navbar navbar-expand-md navbar-dark bg-dark" id="sidebar">
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="/"><i class="fa fa-home"></i><span class="d-none d-sm-inline">Royals of Britain</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-table"></i><span class="d-none d-sm-inline">Select a House</span></a>
                    <div class="collapse" id="submenu1" aria-expanded="true">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link collapsed py-1" href="/houses/bruce" data-toggle="collapse" data-target="/houses/bruce"><span>Bruce</span></a>
                            </li>
                            <li class="nav-item"><a class="nav-link collapsed py-1" href="/houses/windsor" data-toggle="collapse" data-target="/houses/windsor"><span>Windsor</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<main role="main">
    <div id="intro" class="container" wicket:id="introPanel">
        <!-- TODO: Fill out intro panels for each house with all the history -->
        <h1>House Oliveira</h1>
        <p> King Franklin III was born in the County of Sacramento.</p>
    </div>
    <!-- TODO: Create a panel for the kings table -->
    <!-- TODO: Fill in rows in kings table panel with content from the database -->
    <div id="table" class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Year of Birth</th>
                    <th scope="col">Year of Death</th>
                </tr>
            </thead>
            <tbody>

            <tr wicket:id="kingsTableRows">
                <td>Franklin III</td>
                <td>1984</td>
                <td>?</td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
<footer class="clearfix container"  wicket:id="footerPanel">
    <p>&copy 2019 Franklin Oliveira</p>
</footer>
</body>
</html>
