<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        When the reigns of Cenel nGabran ended with the death of a child queen, the distant relatives with a claim to be
        her heirs turned to the King of England to judge their claims. A War of Independence was provoked when the King
        of England used this in an attempt to subjugate Scotland. The winner, Robert the Bruce, established the House of
        Bruce as the royal house of Scotland.
    </p>
</wicket:panel>
</body>
</html>
