<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        The Kingdom of Dal Riata spanned both sides of the Irish Sea. Its ruling clan was the Cenel nGabran. This clan
        was the descendants of King Gabran and its two royal lines have been retroactively labeled the House of Alpin
        and House of Dunkeld.
    </p>
    <p>
        Dal Riata rose to power in the twilight of the Roman Empire. Under the Empire, there were three branches of the
        Celts on the British Isles--1) the Scotti of Ireland, 2) the Britons who gave their name to the island whose
        southern section they inhabited, and 3) the Picts of northern Britain.
    </p>
    <p>
        The Scotti belonged to the Gaelic branch of the Celts. The Scotti of Dal Riata expanded their control of
        neighboring Anglo-Saxons, Britons and Picts, bringing them into the Kingdom of Scotland.
    </p>
    <p>
        Back in Ireland, Dal Riata lost its section of the island. Increasingly, "Scot" referred to the subjects of the
        Kings of Scotland while the Gaels who remained on Ireland came to be called "Irish", people of Ireland.
    </p>
</wicket:panel>
</body>
</html>
