<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title wicket:id="Introduction"></title>
</head>
<body>
<wicket:panel>
    <p>The Kingdom of Great Britain's flag was based on a merger of the flags of the kingdoms of England and Scotland.
        The Kingdom of Ireland was under the leadership of the same kings and queens as the Kingdom of England and then later,
        the Kingdom of Great Britain. In 1801, an agreement between the parliaments of the two kingdoms merged the kingdoms
        into the United Kingdom of Great Britain whose flag would be known as the Union Jack.</p>
    <img src="FlagsOfTheUnionJack.png" id="Jack">
</wicket:panel>
</body>
</html>
