<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        Upon the death of Queen Anne, the Crown of Great Britain went to George, Prince of Hanover.
    </p>
    <p>
        Before George, the sons and daughters of the King were Lords and Ladies. The Hanoverians introduced the ranks of
        Prince and Princess for these royalty. The Hanoverian monarchs were Kings George I-IV, followed by Queen
        Victoria.
    </p>
    <p>
        Under the Hanoverians, Parliament acquired the power to elect the King's ministers. In a similar spirit of
        democracy, the Kingdom of Ireland was released from British dependency in 1783. However, when its
        British-aligned elite were faced with Republican insurrections, the elites in both Dublin and London established
        the United Kingdom of Great Britain and Ireland in 1800.
    </p>
</wicket:panel>
</body>
</html>
