<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        The conquest of the Kingdom of England by the Dukes of Normandy brought England into the politics of the counts
        and dukes that rivaled the King of France for control of northern France. The rule of England by the House of
        Normandy was ended by the marriage of its heiress to Geoffrey Plantagenet, Count of Anjou. The following house
        of kings thus became the House of Plantagenet.
    </p>
</wicket:panel>
</body>
</html>
