<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>The House of Plantagenet would reign over England for centuries. When its main line died out, a succession dispute arose between the Houses of York and Lancaster, two cadet lines of the House of Plantagenet. This dispute, the Wer of the Roses, named after the roses on the heraldry of both houses, would finish with both houses extinct.</p>
</wicket:panel>
</body>
</html>