<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        The domination of Scotland by the House of Bruce ended when its heiress married the royal steward (spelled
        "Stuart"), bringing Scotland under the House of Stuart.
    </p>
    <p>
        The main line of descendants of this marriage reigned all the way to the reign of its last member--Mary, Queen
        of Scots. She married into a cadet line, the Stuarts of Darnley, producing James, the first King of Scotland
        from the Stuarts of Darnley. He inhabited the Crown of England too and it was he who commissioned the scholars
        who produced the King James version of the Bible.
    </p>
    <p>
        The last reigning monarch of his line was Queen Anne. The Parliament of England successfully lobbied to handover
        the line of succession to the Protestant House of Hanover rather than her deposed Catholic kin. The English also
        persuaded the Parliament of Scotland to agree to a Union of Crowns so that Scotland would not host a rival of
        the English monarch. Queen Anne and her heirs would be Kings and Queens of Great Britain until 1800.
    </p>
</wicket:panel>
</body>
</html>
