<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>
        The House of Tudor was originally a Welsh gentry family that married into both the houses of York and Lancaster.
        This backed by armed force became its claim to the Crown of England. This house is also known for Henry VIII,
        infamous for the extremes he went through to secure his succession. Ironically while he fathered multiple
        monarchs, they would produce no grandchildren for him. Instead after Queen Elizabeth, the last of them, died,
        the throne would go to the House of Stuart, the royal family of Scotland.
    </p>
</wicket:panel>
</body>
</html>
