<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <p>From 1837-1901, Queen Victoria reigned as the last Hanoverian monarch of the UK. Her marriage to Albert, a prince of the Saxon duchy of Saxe-Coburg-Saalfeld. A rearrangement of ducal territory made Albert and his father, Ernest, into the royalty of Saxe-Coburg und Gotha, thus the House of Saxe-Coburg und Gotha. The descendants of Queen Victoria and Prince Albert were also of the House of Saxe-Coburg und Gotha until 1917 when King George V changed the family name to the House of Windsor to appease anti-German sentiment. The partition of Ireland would change their kingdom five years later from the United Kingdom of Great Britain and Ireland to the United Kingdom of Great Britain and Northern Ireland.</p>
</wicket:panel>
</body>
</html>