<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<wicket:panel>
    <thead><tr wicket:id="headings">
    <th wicket:id="nameHeading">Name</th>
    <th wicket:id="birthHeading">Year of Birth</th>
    <th wicket:id="deathHeading">Year of Death</th>
    </tr></thead>
    <tr wicket:id="kingRow">
        <td wicket:id="kingsName">Franklin III</td>
        <td wicket:id="birthYear">1984</td>
        <td wicket:id="deathYear">?</td>
    </tr>
</wicket:panel>
</table>
</body>
</html>
