<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year of Birth</th>
                <th>Year of Death</th>
            </tr>
        </thead>
            <tr wicket:id="kingRow">
                <td wicket:id="kingsName">Franklin III</td>
                <td wicket:id="birthYear">1984</td>
                <td wicket:id="deathYear">?</td>
            </tr>
    </table>
</wicket:panel>
</body>
</html>
